<!DOCTYPE html>
<html>
<head>
  <title>Formalin</title>
  <%= stylesheet_link_tag    "formalin/application", media: "all" %>
  <%= javascript_include_tag "formalin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
